/* Css Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px 680px 200px;
  grid-template-areas:
    "top-box top-box"
    "user-box computer-box"
    "bottom-box bottom-box";
}
.head-box {
  grid-area: top-box;
  background: yellowgreen;
  padding: 2rem;
}
.user-box {
  grid-area: user-box;
  background: red;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.computer-box {
  grid-area: computer-box;
  background: blue;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-box {
  grid-area: bottom-box;
  background: salmon;
  padding: 1rem;
}
.rock-img,
.paper-img,
.scissor-img {
  min-width: 100px;
  max-width: 130px;
  width: 100%;
  height: 180px;
  margin: 5px 0px;
}
.user-box div:hover {
  background: wheat;
  padding: 3px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
