/* Css Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px 680px 200px;
  grid-template-areas:
    "top-box top-box"
    "user-box computer-box"
    "bottom-box bottom-box";
}

.head-box {
  grid-area: top-box;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(107, 157, 171, 1) 23.8%,
    rgba(92, 122, 158, 1) 66%
  );
  padding: 1rem;
  color: #222;
}

.user-box {
  grid-area: user-box;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(226, 240, 254, 1) 0%,
    rgba(255, 247, 228, 1) 90%
  );
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.computer-box {
  grid-area: computer-box;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(87, 108, 117, 1) 0%,
    rgba(37, 50, 55, 1) 100.2%
  );
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-box {
  grid-area: bottom-box;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(107, 157, 171, 1) 23.8%,
    rgba(92, 122, 158, 1) 66%
  );
  padding: 1rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;
  height: 140px;
}
.bottom-box p a {
  color: #222;
}

.rock-img,
.paper-img,
.scissor-img {
  width: 100px;
  width: 130px;
  height: 180px;
  margin: 5px 0px;
}

.user-box div:hover {
  background: rgb(190, 173, 173);
  padding: 3px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.computer-box div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.computer-box img {
  opacity: 0.5;
}

.score-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.score {
  display: flex;
}

.score input {
  min-width: 31px;
}

.score-output {
  background: snow;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-output p {
  align-items: center;
}

.duel button {
  cursor: pointer;
  width: 100px;
  height: 30px;
  font-size: 20px;
  background: #333;
  color: ghostwhite;
  font-weight: 800;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.selected {
  background: #222222a3;
  padding: 3px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.modal-container {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #22222287;
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  background: white;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  /* justify-content: center; */
  align-items: center;
  border-radius: 10px;
  box-shadow: rgb(51, 51, 51) 1px 1px 9px 6px;
}
.close {
  width: 100%;
}
.close p {
  float: right;
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
}
.img-result {
  width: 300px;
  height: 300px;
  padding: 20px;
  background: rgb(110, 141, 228);
  border-radius: 100%;
}
.result-message {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 900;
}
.you-pick {
  font-size: 14px;
}
.computer-pick {
  padding-top: 10px;
  font-size: 14px;
  color: red;
}
.modal-options {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.reset,
.continue {
  cursor: pointer;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.continue {
  background: yellowgreen;
  color: #333;
}
.reset {
  background: red;
  color: aliceblue;
}
@media (max-width: 600px) {
  .modal {
    width: 250px;
    height: 250px;
    background: rgb(219, 219, 219);
    padding: 0 15px;
  }
  .head-box p {
    font-size: 12px;
  }
  .score h2 {
    font-size: 14px;
  }
  .score-output {
    width: 40px;
    height: 20px;
  }
  .duel button {
    height: 20px;
    font-size: 12px;
    font-weight: 600;
    width: 50px;
  }
  .container {
    padding: 0;
  }
  .img-result {
    width: 100px;
    height: 100px;
    padding: 20px;
    background: rgb(110, 141, 228);
    border-radius: 100%;
  }
  .close p {
    float: right;
    padding: 3px;
    font-size: 9px;
  }
  .rock-img,
  .paper-img,
  .scissor-img {
    min-width: 80px;
    max-width: 100px;
    width: 100%;
    height: 180px;
    margin: 5px 0px;
  }
  .computer-pick {
    padding-top: 1px;
  }
}
